:root {
    --bg-color-1: #289628;
    --bg-color-2: #f5f5f5;
    --bg-color-3: #b6b6b0;
    --bg-color-4: #dddddb;

    --txt-color-1: #fffdfc;
    --txt-color-2: #666660;
    --txt-color-3: #0b0d0b;

    --container-width-lg: 88%;
    --container-width-md: 80%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background: url('./Asset/background/MacBook\ Air\ -\ 2.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

nav {
    margin: 0;
    /* Add this line to center the nav */
    padding: 0;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100px;
}

.nav__container {
    /* Adjust the width as per your design */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    margin-left: 5%;
}

.nav__logo img {
    width: 80px;
    height: auto;
}

.nav__link {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.nav__link a{
    margin-left: 26px;
    text-decoration: none;
}

.nav__link a li {
    list-style: none;
    font-size: 22px;
    color: var(--txt-color-1);
}

.nav__toggle-btn {
    display: none;
}

.nav__link .login li{
    padding: 10px 26px;
    background: var(--bg-color-2);
    color: var(--bg-color-1);
    border: none;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 150px;
}

.window-scrolled {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--bg-color-1);
}

/* hero */

#hero{
    height: 100vh;
    width: 90%;
    
}

.hero {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    gap: 10%;
}

.left-content {
    width: 100%;
    height: 336px;
    z-index: 1;

}

.left-content h1 {
    width: 100%;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: var(--txt-color-1);
}

.text-content {
    font-size: 36px;
    color: var(--txt-color-1);
    font-weight: 600;
}

.find-container {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.find-container input {
    background: var(--bg-color-2);
    border: none;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 25px;
    position: relative;
    width: 450px;
    height: 100%;
    outline: none;
}

.find-container span {
    font-size: 38px;
    background: var(--bg-color-1);
    padding: 6.4px 27px;
    border: none;
    border-radius: 50px;
    position: absolute;
    left: 31.5%;
}

.right-content {
    display: flex;
    z-index: 1;
    align-items: center;
    position: relative;
}

.right-content img {
    width: 410px;
    height: 410px;
}


/* statistik section */
.statistik-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    z-index: 1;
    margin: 60px 0 60px 0;
}

.statistik-container h1 {
    z-index: 1;
    font-size: 40px;
    text-transform: uppercase;
    margin: 60px;
}

.statistik-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    place-items: center;
    gap: 55px;
}

.statistik-content {
    border: 1px solid var(--txt-color-3);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 10px 19px 10px 19px;
    z-index: 1;
    background: var(--bg-color-2);
    margin-bottom: 60px;
}

.statistik-content h2 {
    padding-right: 43px;
    font-size: 35px;
    font-weight: 700;
}

.statistik-content h4 {
    font-size: 20px;
    font-weight: 600;
}

/* data section */
.data-container {
    width: 80%;
    height: 100vh;
    margin-top: 60px;
}

.data-container h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--txt-color-1);
}

.data-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 30px 73px;
    align-items: center;
    justify-content: center;
    margin: 60px 0 60px 0;
}

.card {
    height: 150px;
    border: none;
    border-radius: 30px;
    background: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.card:hover{
    background: #009933;
    color: var(--txt-color-1);
}

.card img {
    width: 80px;
}

.card p {
    font-size: 16px;
    font-weight: 700;
}


/* Artikel */
.artikel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px 0 60px;
}

.artikel-container h1 {
    color: var(--txt-color-1);
    margin: 60px 0 60px 0;
    font-size: 40px;
}

.artikel-wrapper {
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    align-items: start;
    gap: 30px;
}

.artikel-content {
    width: 300px;
    height: 350px;
    background: var(--bg-color-2);
    display: grid;
    grid: repeat(3, 90%);
    padding: 10px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
    border: none;
    border-radius: 25px;
}

.artikel-content img {
    width: 100%;
    height: 170px;
    justify-content: center;
    border: none;
    border-radius: 25px 25px 0 0;
}

.artikel-title h2 {
    height: fit-content;
    font-size: 15px;
}

.artikel-desc {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* footer section */
footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container {
    width: 90%;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 10%;
    border-top: 2px solid var(--bg-color-4);
    padding-top: 16px;
    color: var(--txt-color-1);
    font-size: 16px;
}

.footer__1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.footer__1 img {
    width: 110px;
}

.footer__1 p {
    text-align: center;
    font-size: 13px;
}

.footer__2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.footer__2 h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__2 li {
    text-align: left;
    list-style: none;
}

.footer__2 a {
    text-decoration: none;
    font-size: 16px;
    color: var(--txt-color-1);
}

.footer__3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer__3 h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.footer__3 ul {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.footer__3 li {
    text-align: center;
    list-style: none;
}

.footer__3 li a {
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    color: var(--txt-color-1);
}

.copyright {
    width:90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--txt-color-1);
}

@media (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
        position: relative;
    }
    
    h1 {
        font-size: 2.5rem;
        line-height: 1.3;
        font-weight: 600;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    body{
        margin-left: 0;
        background: var(--bg-color-4) url('./Asset/background/Android\ Large\ -\ 2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    /* nav */
    nav {
        width: 100vw;
        height: auto;
    }

    .nav__container{
        margin-left: 3%;
        justify-content: space-between;
    }


    .nav__link{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        right: 0%;
    }

    .nav__link a{ 
        height: 5rem;
        width: 100%;
        background: var(--bg-color-4);
        border-bottom: 1px solid var(--bg-color-1);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7)
    }
    
    .nav__link a li{
        color: var(--bg-color-1);
        font-size: 20px;
        font-weight: 700;
    }

    .nav__toggle-btn{
        display: inline-block;
        border: none;
        background: transparent;
        font-size: 50px;
        color: var(--bg-color-4);
        margin-left: 15px;
    }
    
    #nav-toggle-close{
        display: none;
    }

    .nav__link .login li {
        padding: 0;
        margin: 100px;
        background: transparent;
        text-align: left;
    }

    /* hero section */
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 80%;
    }

    .left-content{
        text-align: center;
        margin-left: 10%;
    }

    .left-content h1{
        text-align: left;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .text-content p{
        font-size: 20px;
        font-weight: 400;
    }

    .left-content .find-container{
        width: 100%;
        position: relative;
    }
    
    .find-container input{
        border: none;
        width: 80%;
        position: relative;
    }

    .find-container span{
        position: absolute;
        left: 63%;
    }

    .right-content{
        display: none;
    }

    /* statistik */
    .statistik-container {
        margin: 0;
        height: auto;
        width: auto;
    }

    .statistik-container h1{
        font-size: 40px;
        font-weight: 700;
        color: var(--txt-color-1);
    }

    .statistik-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .statistik-content {
        width: 300px;
        height: 150px;
        margin: 0 .5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .statistik-content h2 {
        font-size: 40px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .statistik-content h4 {
        font-size: 20px;
        border-left: 1px solid var(--txt-color-3);
        padding-left: 10px;
    }

    /* data */
    .data-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        gap: 30px 50px;
        align-items: center;
        justify-content: center;
    }
    
    .card {
        height: 150px;
        border: none;
        border-radius: 30px;
    }
    
    .card img {
        width: 70px;
    }
    
    .card p {
        font-size: 15px;
        font-weight: 700;
    }


    /* artikel section */

    .artikel-container{
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    .artikel-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .artikel-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 180px;
        background: none;
    }

    .artikel-content img{
        border-radius: 0;
        width: 550px;
        height: 100%;
    }

    .artikel-konten{
        background: var(--bg-color-2);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }

    .artikel-title h2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .artikel-content-right{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 -100px 0 0;
    }

    .artikel-content-left{
        display: flex;
        margin: 0 100px 0 0;
    }


    /* footer */
    .footer__container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80vw;
    }

    .permalinks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .permalinks li a{
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 10px;
        text-transform: uppercase;
    }

    .footer__3-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 550px){
    body{
        margin-left: 0;
        background: var(--bg-color-4) url('./Asset/background/iPhone\ 13\ &\ 14\ -\ 2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    nav {
        width: 100vw;
        height: 100px;
    }

    .nav__container{
        margin-left: 10%;
    }

    .nav__logo{
        margin: 0;
    }

    .nav__link{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        right: 0%;
    }

    .nav__link li{ 
        height: 5rem;
        width: 100%;
        border-bottom: 1px solid var(--bg-color-1);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7)
    }
    
    .nav__link li:hover{
        color: var(--txt-color-1);
        background: var(--bg-color-1);
    }

    .nav__link a li {
        color: var(--bg-color-1);
        font-size: 20px;
        font-weight: 700;
    }
    .nav__link a:hover li{
        color: var(--txt-color-1);
        font-size: 20px;
        font-weight: 700;
    }

    .nav__toggle-btn{
        display: inline-block;
        border: none;
        background: transparent;
        font-size: 50px;
        color: var(--bg-color-4);
    }
    
    #nav-toggle-close{
        display: none;
    }

    .nav__link .login li {
        padding: 0;
        background: transparent;
        text-align: left;


    }

    /* header */ 

    .left-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .left-content h1{
        text-align: left;
        font-size: 35px;
        width: 350px;
        align-items: center;
        justify-content: center;
    }

    .text-content p{
        font-size: 20px;
        font-weight: 400;
    }

    .find-container{
        width: 350px;
        position: relative;
    }
    
    .find-container input{
        border: none;
        width: 100%;
    }

    .find-container span{
        padding: 10px 20px;
        position: absolute;
        left: 76%;
    }

    /* hero section */
    .data-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 120px);
        gap: 30px 50px;
        align-items: center;
        justify-content: center;
    }
    
    .card {
        height: 120px;
        border: none;
        border-radius: 30px;
    }
    
    .card img {
        width: 60px;
    }
    
    .card p {
        font-size: 12px;
        font-weight: 700;
    }
    
    /* artikel */
    .artikel-container {
        display: flex;
        flex-direction: column;
        margin: 40px 0 40px 0;
    }
    
    .artikel-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin: 0 5%;
    }

    .artikel-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background: none;
    }

    .artikel-content img{
        border-radius: 0;
        width: 45%;
        height: 75%;
    }

    .artikel-konten{
        background: var(--bg-color-2);
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .artikel-title h2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-size: 8px;
    }

    .artikel-desc{
        font-size: 8px;
    }

    .artikel-content-right{
        display: flex;
        flex-direction: row-reverse;
    }
}