<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="artikel.css">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatum fugiat quidem eaque, minima velit! Magnam quis, ut corrupti sit excepturi vitae quidem deleniti nam expedita nobis hic quibusdam, totam perspiciatis voluptates laboriosam eveniet voluptatibus ab maxime, distinctio ipsa! Minima hic illo ratione nobis perspiciatis eos, sint cumque doloremque corrupti atque totam rem assumenda tenetur a distinctio commodi laborum obcaecati blanditiis autem est possimus. Tenetur id recusandae est veritatis expedita!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorem hic corporis ex ipsa exercitationem sunt reiciendis blanditiis, corrupti pariatur dicta iure illum placeat temporibus, enim officia et. Modi, distinctio.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque mollitia autem atque? Nisi molestiae officiis tempore laborum asperiores repellat quae accusamus in, natus ipsum facere quas voluptates, provident aut?
</body>
</html>